body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  height: 10vh;
  padding: 0 1rem;
  background: linear-gradient(178.6deg, rgb(232, 245, 253) 3.3%, rgb(252, 253, 255) 109.6%);
  color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
}

.menubutton {
  position: absolute;
  left: 1rem;
  display: flex;
  align-items: center;
  height: 100%;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.menubutton i {
  font-size: 1.5rem;
  color: rgb(0, 0, 0);
}

.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 8vh;
}

.logo img {
  height: 100%;
  width: auto;
}

.mode-buttons {
  position: absolute;
  right: 1rem;
  display: flex;
  align-items: center;
}

.mode-button {
  height: 4.5vh;
  width: 4.5vh;
  margin-left: 0.5rem;
  background-color: transparent;
  color: rgb(0, 0, 0);
  border: none;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  padding: 0;
}

.mode-button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.container {
  display: flex;
  height: 90vh;
}


.menubar {
  width: 20vw;
  height: 90vh;
  background: linear-gradient(178.6deg, rgb(232, 245, 253) 3.3%, rgb(252, 253, 255) 109.6%);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  position: relative;
  transition: left 0.3s ease;
  justify-content: center;
}

.menubar:hover {
  width: 100vw;
}

.menu-links {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.menu-links li {
  margin: 15px 0;
  width: 100%;
}

.menu-links a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000000;
  font-size: 16px;
  font-weight: bolder;
  padding: 10px 20px;
  transition: background-color 0.3s, color 0.3s;
  text-align: left;
}

.menu-links a img {
  width: 45px; /* Adjust the size as needed */
  /* height: 24px; */
  margin-right: 10px; /* Space between image and text */
}

.menu-links a:hover {
  border-left: 5px solid #007bff;
}

.menu-links a.active {
  background-color: #555;
  color: #eee;
}
.maincontainer {
  width: 100vw;
  height: 100vh;
}

.swiper-container {
  width: 100%;
  height: 90%;
  position: relative;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: #333;
}

.swiper-pagination {
  position: absolute;
  bottom: 10px;
  text-align: center;
  width: 100vh;
}

.swiper-pagination-bullet {
  background: #fff;
}



/* basic calculator */

#basiccalc {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100vw;
  background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);

}



#basiccalc .box {
  border: 1px solid #ccc;
  border-radius: 20px;
  width: 40%;
  max-height: 80%;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#basiccalc .display {
  padding: 1vw;
  background-color: #333;
  color: #fff;
  display: flex;
  border-radius: 20px 20px 0px 0px;
  align-items: center;
  height: 12vh;

  border-bottom: 1px solid white;
  gap: 5px;
}

#basiccalc #screen {
  padding: 1.5vw;
  font-size: 2.5vw;
  border: none;
  background-color: #fff;
  color: #333;
  text-align: right;
  height: 100%;
  border-radius: 5px 0px 0px 5px;
  box-sizing: border-box;
  width: calc(100% - 5vw);
}

#basiccalc #ce {
  background-color: #f44336;
  color: white;
  height: 100%;
  padding: 1vw;
  flex-shrink: 0;
  border: none;
  cursor: pointer;
  border-radius: 0px 5px 5px 0px;
}

#basiccalc #ce i {
  font-size: xx-large;
}

#basiccalc #ce:hover {
  background-color: #d32f2f;
}

.btns {
  padding: 1.5vw;
}

.row {
  display: flex;
}

.row button {
  border: 1px solid #ccc;
  background-color: #eee;
  padding: 1vw;
  font-size: 1.5vw;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  flex: 1;
  border-radius: 10px;
  margin: 3px;

}

.row button:hover {
  background-color: #ddd;
}

button#eval {
  background-color: #4CAF50;
  color: white;
  grid-column: span 2;
}

button#eval:hover {
  background-color: #388E3C;
}

button#zero {
  flex: 2;
  min-width: 40%;
}

/* 
@media (max-width: 600px) {
  #basiccalc #screen {
    font-size: 3vw;
    padding: 0.8vw;
  }

  .row button {
    padding: 1.2vw;
    font-size: 1.2vw;
  }
} */


#advancecalc {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100vw;
  background: linear-gradient(135.8deg, rgb(26, 26, 29) 27.1%, rgb(111, 34, 50) 77.5%);
}

#advancecalc .box {
  border: 1px solid #ccc;
  border-radius: 20px;
  width: 50%;
  max-height: 80%;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#advancecalc .display {
  padding: 1vw;
  background-color: #333;
  color: #fff;
  display: flex;
  border-radius: 20px 20px 0px 0px;
  align-items: center;
  height: 12vh;
  border-bottom: 1px solid white;
  gap: 5px;
}

#advancecalc #screen {
  padding: 1.5vw;
  font-size: 2.5vw;
  border: none;
  background-color: #fff;
  color: #333;
  text-align: right;
  height: 100%;
  border-radius: 5px;
  box-sizing: border-box;
  width: 100%
}

#advancecalc #ce {
  background-color: #f44336;
  color: white;
  padding: 1vw;
  flex-shrink: 0;
  border: none;
  cursor: pointer;
  border-radius: 5px;

}

#advancecalc #ce i {
  font-size: xx-large;
}

#advancecalc #ce:hover {
  background-color: #d32f2f;
}


/* @media (max-width: 600px) {
  #advancecalc #screen {
    font-size: 3vw;
    padding: 0.8vw;
  }

  .row button {
    padding: 1.2vw;
    font-size: 1.2vw;
  }
} */

/* bmi calculator */
/* General swiper-slide styling */
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
  padding: 20px;
  box-sizing: border-box;
}

/* Styling for the BMI calculator box */


/* currency calculator */
#currencycalc::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('./image/money\ backgorund.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: -1;
}

#currencycalc {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

#currencycalc .box {
  border: 1px solid #ccc;
  border-radius: 20px;
  width: 60vw;
  height: 70vh;
  backdrop-filter: blur(5px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#currencycalc .box h1 {
  font-size: 5vh;
  color: white;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#currencycalc .currency-converter {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60vw;
  height: 70vh;
}

#currencycalc .currency-converter label {
  margin: 10px 0 5px;
  color: white;
}

#currencycalc .currency-converter input,
#currencycalc .currency-converter select,
#currencycalc .currency-converter button {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;

}

#currencycalc .currency-converter #amount {
  width: 50%;
  background-color: #ffffff;
  padding: 1rem;
}

#currencycalc .inputbox {
  display: flex;
  gap: 15vw;
}

#currencycalc .inputbox .handlemoney {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#currencycalc .inputbox select {
  flex: 2;
  margin: 0 10px;
}

#currencycalc button {
  
  padding: 10px;
  background-color: #101012;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
  margin-top: 40px;
  width: 40%; /* Button width */
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  align-items: center; /* Center the button content */
}

#currencycalc button:hover {
  background-color: #303233;
}

#currencycalc #result {
  margin-top: 20px;
  font-size: 1.2em;
  color: white;
}

/* bmi calc  */
/* Background styling for BMI calculator */
#bmicalc::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('./image/images (1).jpeg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: -1;
}

/* Container box styling */
#bmicalc .box {
  border: 1px solid #ccc;
  border-radius: 20px;
  width: 60vw;
  height: 70vh;
  backdrop-filter: blur(5px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Align items to start */
}

/* Heading styling */
#bmicalc .box h1 {
  font-size: 5vh;
  color: white;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-bottom: 20px;
}

/* Form styling */
#bmi-form {
  width: 100%;
  margin-top: 60px; /* Add some margin to push the form down */
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the form contents */
}

/* Form row styling */
#bmi-form .form-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10rem;
  width: 100%;
}

/* Label and input styling */
#bmi-form label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: white;
}

#bmi-form input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

/* Button styling */
#bmi-form button {
  padding: 10px;
  background-color: #0c0d0c;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
  margin-top: 80px;
  width: 40%; /* Button width */
  display: flex;
  justify-content: center;
  margin-left: 19px; /* Center the button content */
  align-items: center; /* Center the button content */
}

#bmi-form button:hover {
  background-color: #252926;
}

/* Result styling */
#bmicalc #result {
  margin-top: 20px;
  text-align: center;
  color: white;
}

#bmicalc #bmi-value {
  font-size: 1.5em;
  font-weight: bold;
}

#bmicalc #bmi-category {
  font-size: 1.2em;
}
